[user]
	name = Holger Berndt
	email = hberndt@bidcore.de
	signingkey = 8D7367A7
[core]
	excludesfile = /Users/hberndt/.gitignore_global
	autocrlf = input
[difftool "sourcetree"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --nosplash \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
	trustExitCode = true
[credential]
	helper = osxkeychain
[push]
	default = matching
[http]
	postBuffer = 157286400
[color]
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[commit]
	template = /Users/hberndt/.stCommitMsg